extends layout

block content
  h1= title

  -var car1 = {model:"Focus", mileage:35,numWheels:4,maxSpeed:120}
  -var car2 = {model:"Insight",mileage:45, numWheels:4,maxSpeed:90}
  -var car3 = {model:"Motorcycle",mileage:30,numWheels:2,maxSpeed:70}
  -let items =results

  div.container-fluid
  each i in items
    -let destination = `dispatch(\"/vehicle/update?id=${i._id}\")` 
    div.row=i["model"]
      div.col-sm-2="Mileage: " + i["mileage"]
      div.col-sm-2="Number of wheels: " + i["numWheels"]
      div.col-sm-2="Maximum speed: " + i["maxSpeed"]
      button.btn( class="btn-primary ml-1", onclick= destination) Update 

  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  //const car = {type:"Fiat", model:"500", color:"white"};
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 